In [13]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [14]:
Url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

In [15]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [16]:
driver.get(Url)

In [17]:
#scrapping rank of the video
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:  
        rank.append(i.text)
        
except NoSuchElementException:
    rank.append("no detail available")
except StaleElementReferenceException:
    rank.append("no detail available")
print(rank)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [18]:
#scrapping the name of the video
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
        
except NoSuchElementException:
    name.append("no detail available")
except StaleElementReferenceException:
    name.append("no detail available")
print(name)

['"Baby Shark Dance"[22]', '"Despacito"[24]', '"Johny Johny Yes Papa"[25]', '"Shape of You"[26]', '"See You Again"[27]', '"Masha and the Bear – Recipe for Disaster"[30]', '"Bath Song"[31]', '"Learning Colors – Colorful Eggs on a Farm"[32]', '"Uptown Funk"[33]', '"Gangnam Style"[34]', '"Phonics Song with Two Words"[36]', '"Sugar"[37]', '"Dame Tu Cosita"[38]', '"Sorry"[39]', '"Roar"[40]', '"Counting Stars"[41]', '"Thinking Out Loud"[42]', '"Wheels on the Bus"[43]', '"Dark Horse"[44]', '"Faded"[45]', '"Girls Like You"[46]', '"Shake It Off"[47]', '"Lean On"[48]', '"Bailando"[49]', '"Let Her Go"[50]', '"Mi Gente"[51]', '"Perfect"[52]', '"Axel F"[53]', '"Waka Waka (This Time for Africa)"[54]', '"Hello"[55]']

In [20]:
#scrapping the details of artist
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
        
except NoSuchElementException:
    artist.append("no detail available")
except StaleElementReferenceException:
    artist.append("no detail available")
print(artist)

["Pinkfong Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Ed Sheeran', 'Wiz Khalifa', 'Get Movies', 'Cocomelon – Nursery Rhymes', 'Miroshka TV', 'Mark Ronson', 'Psy', 'ChuChu TV', 'Maroon 5', 'El Chombo', 'Justin Bieber', 'Katy Perry', 'OneRepublic', 'Ed Sheeran', 'Cocomelon – Nursery Rhymes', 'Katy Perry', 'Alan Walker', 'Maroon 5', 'Taylor Swift', 'Major Lazer', 'Enrique Iglesias', 'Passenger', 'J Balvin', 'Ed Sheeran', 'Crazy Frog', 'Shakira', 'Adele']

In [21]:
#scrapping the details of upload date
upload_date=[]
try:
    upload_dates_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_dates_list:
        upload_date.append(i.text)
        
except NoSuchElementException:
    upload_date.append("no detail available")
except StaleElementReferenceException:
    upload_date.append("no detail available")
print(upload_date)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'January 30, 2017', 'April 6, 2015', 'January 31, 2012', 'May 2, 2018', 'February 27, 2018', 'November 19, 2014', 'July 15, 2012', 'March 6, 2014', 'January 14, 2015', 'April 5, 2018', 'October 22, 2015', 'September 5, 2013', 'May 31, 2013', 'October 7, 2014', 'May 24, 2018', 'February 20, 2014', 'December 3, 2015', 'May 31, 2018', 'August 18, 2014', 'March 22, 2015', 'April 11, 2014', 'July 25, 2012', 'June 29, 2017', 'November 9, 2017', 'June 16, 2009', 'June 4, 2010', 'October 22, 2015']

In [22]:
#scrapping the details of views
views=[]
try:
    view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view:
        views.append(i.text)
        
except NoSuchElementException:
    views.append("no detail available")
except StaleElementReferenceException:
    views.append("no detail available")
print(views)

['9.06', '7.47', '5.60', '5.40', '5.20', '4.45', '4.39', '4.35', '4.25', '4.14', '4.04', '3.52', '3.49', '3.45', '3.40', '3.35', '3.30', '3.20', '3.11', '3.11', '3.08', '3.08', '3.07', '3.07', '3.04', '2.95', '2.91', '2.91', '2.90', '2.86']

In [24]:
#preparing dataframe
videos=pd.DataFrame({"Rank":rank,"Name":name,"Artist":artist,"Upload Date":upload_date,"Views":views})
videos.to_csv("Top_30_Videos",index=True)
print(videos)

   Rank                                             Name  \
0    1.                           "Baby Shark Dance"[22]
1    2.                                  "Despacito"[24]
2    3.                       "Johny Johny Yes Papa"[25]
3    4.                               "Shape of You"[26]
4    5.                              "See You Again"[27]
5    6.   "Masha and the Bear – Recipe for Disaster"[30]
6    7.                                  "Bath Song"[31]
7    8.  "Learning Colors – Colorful Eggs on a Farm"[32]
8    9.                                "Uptown Funk"[33]
9   10.                              "Gangnam Style"[34]
10  11.                "Phonics Song with Two Words"[36]
11  12.                                      "Sugar"[37]
12  13.                             "Dame Tu Cosita"[38]
13  14.                                      "Sorry"[39]
14  15.                                       "Roar"[40]
15  16.                             "Counting Stars"[41]
16  17.                          "Thinking Out Loud"[42]
17  18.                          "Wheels on the Bus"[43]
18  19.                                 "Dark Horse"[44]
19  20.                                      "Faded"[45]
20  21.                             "Girls Like You"[46]
21  22.                               "Shake It Off"[47]
22  23.                                    "Lean On"[48]
23  24.                                   "Bailando"[49]
24  25.                                 "Let Her Go"[50]
25  26.                                   "Mi Gente"[51]
26  27.                                    "Perfect"[52]
27  28.                                     "Axel F"[53]
28  29.           "Waka Waka (This Time for Africa)"[54]
29  30.                                      "Hello"[55]

                            Artist        Upload Date Views
0   Pinkfong Kids' Songs & Stories      June 17, 2016  9.06
1                       Luis Fonsi   January 12, 2017  7.47
2                      LooLoo Kids    October 8, 2016  5.60
3                       Ed Sheeran   January 30, 2017  5.40
4                      Wiz Khalifa      April 6, 2015  5.20
5                       Get Movies   January 31, 2012  4.45
6       Cocomelon – Nursery Rhymes        May 2, 2018  4.39
7                      Miroshka TV  February 27, 2018  4.35
8                      Mark Ronson  November 19, 2014  4.25
9                              Psy      July 15, 2012  4.14
10                       ChuChu TV      March 6, 2014  4.04
11                        Maroon 5   January 14, 2015  3.52
12                       El Chombo      April 5, 2018  3.49
13                   Justin Bieber   October 22, 2015  3.45
14                      Katy Perry  September 5, 2013  3.40
15                     OneRepublic       May 31, 2013  3.35
16                      Ed Sheeran    October 7, 2014  3.30
17      Cocomelon – Nursery Rhymes       May 24, 2018  3.20
18                      Katy Perry  February 20, 2014  3.11
19                     Alan Walker   December 3, 2015  3.11
20                        Maroon 5       May 31, 2018  3.08
21                    Taylor Swift    August 18, 2014  3.08
22                     Major Lazer     March 22, 2015  3.07
23                Enrique Iglesias     April 11, 2014  3.07
24                       Passenger      July 25, 2012  3.04
25                        J Balvin      June 29, 2017  2.95
26                      Ed Sheeran   November 9, 2017  2.91
27                      Crazy Frog      June 16, 2009  2.91
28                         Shakira       June 4, 2010  2.90
29                           Adele   October 22, 2015  2.86

2. Scrape the details team India’s international fixtures from bcci.tv.

In [25]:
Url = "https://www.bcci.tv"

In [27]:
driver.get(Url)

In [28]:
#going to internation fixtures page
fixtures=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [29]:
url=[]
match=driver.find_elements_by_xpath("//div[@class='js-1ist']/a")
for i in match:
    url.append(i.get_attribute('href'))

In [39]:
match=[]
series=[]
place=[]
date=[]
time=[]
for i in url:#list of urls of match description pages
    driver.get(i)
    try:#scarping match title
        match_title=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
        match.append(match_title.text)
    except NoSuchElementException:#handling no such element exception
        match.append('No details available')
    try:#scarping series title
        series_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        series.append(series_title.text)
    except NoSuchElementException:#handling no such element exception
        series.append("No details Available")
    try:#scarping match venue
        place_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        place.append(place_title.text.split()[-1])
    except NoSuchElementException:#handling no such element exception
        place.append("No details Available")
    try:#scarping date of match 
        date_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        date.append(date_title.text)
    except NoSuchElementException:#handling no such element exception
        date.append("No details Available")        
    try:#scarping time of the match
        time_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        time.append(time_title.text)
    except NoSuchElementException:#handling no such element exception
        time.append("No details Available")

In [40]:
match=pd.DataFrame({'Match':match,'Series':series,'Place':place,'Date':date,'Time':time})
print(match)

Empty DataFrame
Columns: [Match, Series, Place, Date, Time]
Index: []

4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [41]:
Url ="http://statisticstimes.com"

In [42]:
driver.get("http://statisticstimes.com")

In [43]:
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('NoDetailsAvailable')
print(rank)

['NoDetailsAvailable']

In [44]:
state=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        state.append(i.text)
except NoSuchElementException:
    state.append('NoDetailsAvailable')
print(state)

[]

In [46]:
GSDP=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP.append(i.text)
except NoSuchElementException:
    GSDP.append('NoDetailsAvailable')
print(GSDP)

[]

In [47]:
GSDP_18=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_18.append(i.text)
except NoSuchElementException:
    GSDP_18.append('NoDetailsAvailable')
print(GSDP_18)

[]

In [48]:
share=[]
try:
    shares=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in shares:
        share.append(i.text)
except NoSuchElementException:
    share.append('NoDetailsAvailable')
print(share)

[]

In [49]:
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('NoDetailsAvailable')
print(GDP_billion)

[]

5. Scrape the details of trending repositories on Github.com

In [50]:
Url = "https://github.com"

In [54]:
driver.get(Url)

In [55]:
#finding explore-trending option
explore=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(explore.get_attribute('href'))

In [56]:
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
print(len(repo_title))

25

In [57]:
#scraping repositories description
repo_desc=[]
try:
    descriptions=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
    for i in descriptions:
        repo_desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_desc.append('No details available')
print(len(repo_desc))

0

In [58]:
repo_urls=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))

In [59]:
Contributors_count=[]
Language_used=[]
for i in repo_urls:
    driver.get(i)
    l=[]
    try:#scraping contributors count
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
     #scraping languages used   
    languages=driver.find_elements_by_xpath("//span[@class='text-gray-dark text-bold mr-1']")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)

In [61]:
print(Contributors_count)
print(Language_used)

[]
[]

6. Scrape the details of top 100 songs on billboard.com

In [62]:
Url = "https://www.billboard.com"

In [63]:
driver.get(Url)

In [64]:
#clicking charts button
charts=driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))

In [66]:
#clicking the hot 100 songs link
top_100=driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
try:
    top_100.click()
except ElementNotInteractableException:
    driver.get(top_100.get_attribute('href'))
In [14]

'Url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"'

In [67]:
#scraping song names
song_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    song_name.append('No details available')
print(len(song_name))

100

In [68]:
#scraping song names
artist_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist_name.append('No details available')
print(len(artist_name))

100

In [69]:
#scraping last week rank
last_week_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    last_week_rank.append('No details available')
print(len(last_week_rank))
100

100

100

In [70]:
#scraping peak rank
peak_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    peak_rank.append('No details available')
print(len(peak_rank))

100

In [71]:
#scraping weeks on chart
weeks=[]
try:
    week_count=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:#handling no such element exception
    weeks.append('No details available')
print(len(weeks))

100

In [72]:
#creating dataframe
df=pd.DataFrame({'Song_Name':song_name,
                'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})
print(df)

          Song_Name                                        Artist_Name  \
0            Butter                                                BTS
1     Industry Baby                            Lil Nas X & Jack Harlow
2          Good 4 U                                     Olivia Rodrigo
3              Stay                      The Kid LAROI & Justin Bieber
4        Levitating                          Dua Lipa Featuring DaBaby
..              ...                                                ...
95     Minimum Wage                                      Blake Shelton
96          Working                                Tate McRae X Khalid
97      Holy Smokes                Trippie Redd Featuring Lil Uzi Vert
98        WUSYANAME  Tyler, The Creator Featuring YoungBoy Never Br...
99  Still Chose You                    The Kid LAROI Featuring Mustard

   Last_week_rank Peak Weeks_on_chart
0               1    1             10
1               -    2              1
2               2    1             11
3               4    3              3
4               3    2             43
..            ...  ...            ...
95             83   67             12
96              -   88              5
97             50   50              2
98             91   14              5
99              -  100              1

[100 rows x 5 columns]

7. Scrape the details of Data science recruiters from naukri.com.

In [73]:
Url = "https://www.naukri.com"

In [74]:
driver.get(Url)

In [75]:
#clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [76]:
#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [77]:
#search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [78]:
#scrapping names
name=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

50

In [79]:
#scrapping designation
designation=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:#handling no such element exception
    designation.append('No details available')
print(len(designation))

50

In [83]:
#scrapping company names
company=[]
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        company.append(i.text)
except NoSuchElementException:#handling no such element exception
    company.append('No details available')
print(len(company))

50

In [84]:
#skills they hire for
skill=[]
try:
    skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:#handling no such element exception
    skill.append('No details available')
print(len(skill))

50

In [85]:
location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")
print(len(location))

50

In [86]:
#creating dataframe
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                "Location":location,
                'Skills I hire':skill})
print(df)

                                             Name  \
0                                    Aakash Harit
1                            shravan Kumar Gaddam
2                        MARSIAN Technologies LLP
3                                    Anik Agrawal
4                                    subhas patel
5    Abhishek - Only Analytics Hiring - India and
6   Institute for Financial Management and Resear
7                                     Balu Ramesh
8                                   Asif Lucknowi
9                                 InstaFinancials
10                                 Priyanka Akiri
11                                Kalpana Dumpala
12                                        Mubarak
13                                 Kushal Rastogi
14                                    Ruchi Dhote
15                             Mahesh Babu Channa
16                                   Kapil Devang
17                                  Manisha Yadav
18                                    Riya Rajesh
19                           Rashmi Bhattacharjee
20                                  Faizan Kareem
21                                 Rithika dadwal
22                             Sandhya Khandagale
23                                      Shaun Rao
24                                  Azahar Shaikh
25                                          Manas
26                                          kumar
27                                   Sunil Vedula
28                                    Rajat Kumar
29                                    Priya Khare
30                                Dhruv Dev Dubey
31                                      Jayanth N
32                                       SREEDHAR
33                              Radha Manivasagam
34                                     Ravi Dubey
35                                  Prateek Kumar
36                                    Amit Sharma
37                                          Kanan
38                           Shashikant Chaudhary
39                                           Brad
40                                   Rutuja Pawar
41                            Madhusudhan Sridhar
42                                    Ankit Sinha
43                                 Gaurav Chouhan
44                                   Rashi Kacker
45                                        Ashwini
46                                   Balaji Kolli
47                                 Rajani Nagaraj
48                                    ROHIT Kumar
49                                 Amir Chowdhury

                            Designation  \
0                            HR Manager
1                     Company Recruiter
2                            Company HR
3                     Company Recruiter
4                           Founder CEO
5           Recruitment Lead Consultant
6                     Programme Manager
7                      HR Administrator
8                              Director
9                        Human Resource
10                           HR Manager
11                     Executive Hiring
12                           Company HR
13                           Company HR
14  Senior Executive Talent Acquisition
15                         HR Team Lead
16                           HR Manager
17                         HR Executive
18           Manager Talent Acquisition
19                              HR Head
20                           HR MANAGER
21                         HR Recruiter
22                         HR Recruiter
23              Manager Human Resources
24                    Company Recruiter
25              Lead Talent acquisition
26                           Proprietor
27                                  CEO
28                          Founder CEO
29                       Senior Manager
30             Company Recruitment Head
31                      Project Manager
32               Recruitment Consultant
33                         HR Executive
34                  Recruitment Manager
35                                 Head
36                           Consultant
37         senior technology instructor
38             HR Recruiter/HR Excutive
39        Manager, Technical Recruiting
40                  Technical Recruiter
41                      Erp Implementer
42                       Head Analytics
43              Chief Technical Officer
44                   Sr Product Manager
45             Director Global Delivery
46                           Co Founder
47                           HR Manager
48                            Architect
49                     Managing Partner

                                           Company                  Location  \
0                             Data Science Network                     Delhi
1                    Shore Infotech India Pvt. Ltd  Hyderabad / Secunderabad
2                         MARSIAN Technologies LLP                      Pune
3            Enerlytics Software Solutions Pvt Ltd                 Ahmedabad
4                                  LibraryXProject             UK - (london)
5       Apidel Technologies Division of Transpower         Vadodara / Baroda
6                                             IFMR                   Chennai
7                      Techvantage Systems Pvt Ltd                Trivandrum
8                       Weupskill- Live Wire India                    Indore
9                 CBL Data Science Private Limited     Bengaluru / Bangalore
10          Infinitive Software Solutions Pvt.Ltd.                 Hyderabad
11                              Innominds Software  Hyderabad / Secunderabad
12                                        MoneyTap     Bengaluru / Bangalore
13              QuantMagnum Technologies Pvt. Ltd.                    Mumbai
14                           Bristlecone India Ltd                      Pune
15                               SocialPrachar.com  Hyderabad / Secunderabad
16                                  BISP Solutions                    Bhopal
17                                        Easi Tax               Navi Mumbai
18                     Novelworx Digital Solutions                    Cochin
19         AXESTRACK SOFTWARE SOLUTIONS PRIVATE...                     Delhi
20                   FirstTech Consaltants Pvt.Ltd  Hyderabad / Secunderabad
21                                Affine Analytics                      Pune
22                 Compumatrice Multimedia Pvt Ltd                      Pune
23                              Exela Technologies                      Pune
24                 NEAL ANALYTICS SERVICES PVT LTD                      Pune
25      Autumn Leaf Consulting Services Private...     Bengaluru / Bangalore
26                                         trainin     Bengaluru / Bangalore
27                            Nanoprecise Sci Corp      No details available
28                  R.S Consultancy &amp; Services                     Delhi
29                          Independent Consultant     Bengaluru / Bangalore
30                                    Confidential     Bengaluru / Bangalore
31        Dollarbird Information Services Pvt, Ltd           Mysoru / Mysore
32     JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED  Hyderabad / Secunderabad
33                                      Techcovery     Bengaluru / Bangalore
34                     HyrEzy Talent Solutions LLP                 Ghaziabad
35                                         Trisect                     Noida
36                                 ASCO consulting                 New Delhi
37                                         NY INST                   Chennai
38  3D India Staffing Research &amp; Consulting...                   Aligarh
39                                     O.C. Tanner            Salt Lake City
40                                   Demand Matrix                      Pune
41                             MADHUSUDHAN SRIDHAR     Bengaluru / Bangalore
42                                  Suntech Global                    Mumbai
43                        Strategic Consulting Lab                    Indore
44                            Impel Labs Pvt. Ltd.     Bengaluru / Bangalore
45                                    MRP Advisers                    MYSORE
46                   Saras Solutions India Pvt Ltd  Hyderabad / Secunderabad
47                                     WildJasmine     Bengaluru / Bangalore
48                             LNT Private Limited                    Mumbai
49                                     Granular.ai      No details available

                                        Skills I hire
0   Classic ASP Developer, Internet Marketing Prof...
1   .Net, Java, Data Science, Linux Administration...
2   Data Science, Artificial Intelligence, Machine...
3   Mean Stack, javascript, angularjs, mongodb, We...
4   Hadoop, Spark, Digital Strategy, Data Architec...
5   Analytics, Business Intelligence, Business Ana...
6                                        Data Science
7   Machine Learning, algorithms, Go Getter, Compu...
8   Technical Training, Software Development, Pres...
9   Software Development, It Sales, Account Manage...
10  Oracle Dba, Data Science, Data Warehousing, ET...
11  Qa, Ui/ux, Java Developer, Java Architect, C++...
12  Business Intelligence, Data Warehousing, Data ...
13  Office Administration, Hr Administration, tele...
14  Qlikview, Qlik Sense, Microsoft Azure, Power B...
15  Social Media, digital media maketing, seo, smm...
16     Big Data, Hadoop, Data Analytics, Data Science
17  Telecalling, Client Interaction, Marketing, Re...
18                                       Data Science
19  Corporate Sales, Software Development, Softwar...
20  Data Analytics, Data Science, Machine Learning...
21  Data Science, Machine Learning, Python, R, Dee...
22  Big Data, Data Science, Artificial Intelligenc...
23  Java, Net, Angularjs, Hr, Infrastructure, Mana...
24  Data Science, Artificial Intelligence, Machine...
25  Software Architecture, Vp Engineering, Product...
26  Data Science, Hadoop, Rpas, Devops, Python, Aw...
27  Signal Processing, Machine Learning, Neural Ne...
28  Web Technologies, Project Management, Software...
29  Data Science, Artificial Intelligence, analyti...
30  Server Administartion, Verilog, Vhdl, Digital ...
31  Data Analytics, Managed Services, Team Leading...
32  Data Science, Machine Learning, Big Data Analy...
33  Python, Artificial Intelligence, Machine Learn...
34  Walmart Interra Skeps Expressstores indifi whi...
35  Java, Python, Angularjs, Software Testing, Mac...
36  Machine Learning, Artificial Intelligence, Dat...
37  C, C++, Artificial Intelligence, Python, Php, ...
38  Relationship Management, Retail Sales, Private...
39                 Data Science, Software Engineering
40  Data Science, Big Data Analytics, Digital Mark...
41                  Data Science, Recruitment, Salary
42  B.Tech, Tableau, Statistics, R, Analytics, Tim...
43  Software Development, Business Intelligence, B...
44                   Data Science, Node.js, Angularjs
45  Data Science, Media Marketing, Resource Planni...
46  Data Analysis, Learning, Data Science, Compute...
47  Java, Hadoop, R, Machine Learning, Spark, Flum...
48  Software Development, Core Java, Unit Testing,...
49  Machine Learning, Data Science, Product Manage...

8. Scrape the details of Highest selling novels

In [87]:
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare"

In [88]:
driver.get(Url)

In [89]:
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    book_name.append('No details available')
print(len(book_name))

0

In [90]:
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    author_name.append('No details available')

print(len(author_name))

0

In [91]:
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:#handling no such element exception
    publisher.append('No details available')

print(len(publisher))

0

In [92]:
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

print(len(genre))

0

9. Scrape the details most watched tv series of all time from imdb.com

In [93]:
 Url = "https://www.imdb.com/list/ls095964455"

In [94]:
driver.get(Url)

In [95]:
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

100

In [96]:

years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')
print(len(years))

100

In [97]:
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')
print(len(genre))

100

In [98]:
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:#handling no such element exception
    run_time.append('No details available')
print(len(run_time))

100

In [99]:
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:#handling no such element exception
    rating.append('No details available')
print(len(rating))

100

In [100]:
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:#handling no such element exception
    votes.append('No details available')
print(len(votes))

100

In [101]:
#creating dataframe
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})
print(df)

                              Name        years                     Genre  \
0                  Game of Thrones  (2011–2019)  Action, Adventure, Drama
1                  Stranger Things     (2016– )    Drama, Fantasy, Horror
2                 The Walking Dead  (2010–2022)   Drama, Horror, Thriller
3                   13 Reasons Why  (2017–2020)  Drama, Mystery, Thriller
4                          The 100  (2014–2020)    Drama, Mystery, Sci-Fi
..                             ...          ...                       ...
95                           Reign  (2013–2017)            Drama, Fantasy
96  A Series of Unfortunate Events  (2017–2019)  Adventure, Comedy, Drama
97                  Criminal Minds  (2005–2020)     Crime, Drama, Mystery
98           Scream: The TV Series     (2015– )      Comedy, Crime, Drama
99      The Haunting of Hill House       (2018)    Drama, Horror, Mystery

   Run_time Rating      Votes
0    57 min    9.2  1,848,384
1    51 min    8.7    885,894
2    44 min    8.2    885,828
3    60 min    7.6    266,399
4    43 min    7.6    226,966
..      ...    ...        ...
95   42 min    7.5     45,045
96   50 min    7.8     55,754
97   42 min      8    171,811
98   45 min    7.1     35,662
99  572 min    8.6    195,124

[100 rows x 6 columns]

10. Details of Datasets from UCI machine learning repositories

In [102]:
Url = "https://archive.ics.uci.edu"

In [103]:
driver.get(Url)

In [104]:
#clicking show all datasets link
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()

In [105]:
#scraping dataset names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

588

In [106]:
#scraping dataset names
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
print(len(data_type))

588

In [107]:
#scraping dataset names
default_task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")
print(len(default_task))

588

In [108]:
#scraping dataset names
attr_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")
print(len(attr_type))

588

In [109]:
#scraping dataset names
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")
print(len(no_of_instances))

588

In [110]:
#scraping dataset names
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")
print(len(no_of_attributes))

588

In [111]:
#scraping dataset names
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")
print(len(year))

588

In [112]:
#creating dataframe
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})
print(df)

                                 Name      Data_type                  Task  \
0                             Abalone  Multivariate        Classification
1                               Adult  Multivariate        Classification
2                           Annealing  Multivariate        Classification
3        Anonymous Microsoft Web Data                 Recommender-Systems
4                          Arrhythmia  Multivariate        Classification
..                                ...            ...                   ...
583  in-vehicle coupon recommendation  Multivariate        Classification
584               Gait Classification  Multivariate        Classification
585         Wikipedia Math Essentials   Time-Series            Regression
586         Wikipedia Math Essentials   Time-Series            Regression
587      Synchronous Machine Data Set  Multivariate            Regression

                  Attribute_type No_of_instances No_of_attributes   Year
0    Categorical, Integer, Real            4177                8   1995
1          Categorical, Integer           48842               14   1996
2    Categorical, Integer, Real             798               38
3                   Categorical           37711              294   1998
4    Categorical, Integer, Real             452              279   1998
..                           ...             ...              ...    ...
583                                       12684               23   2020
584                        Real              48              321   2020
585                        Real             731             1068   2021
586                        Real             731             1068   2021
587                        Real             557                5   2021

[588 rows x 7 columns]